nav {
  display: flex;
  justify-content: center;
}

nav li {
  list-style: none;
  margin-right: 30px;
}

.cat-item {
  border: 1px solid black;
  margin: 30px;
}

.cat-item h1 {
text-align: center;
}

.cat-item p {
  text-align: center;
}

